/* Your CSS Code here. */
table{
	border: 1px solid black;
	text-align:center;
	width:100%;
	height:100%;
}
td{
	border:1px solid black;
}
th{
	border:1px solid black;
}
#table4{
	background-color:black;
	color:white;
}